html{
  margin: auto auto;
  opacity: 0.8;
}
.footImg{
  max-width: 47%;
}

#bg-img:after {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(211, 211, 211, 0.2); 
}
.howk{
  margin: auto auto auto auto;
  background-color: transparent;
}
td#td {
  color: #fff;
}
#co{
  margin: auto auto;
  font-size: medium ;
}
.courses {
    background: url(../img/courses/sergey.jpg) no-repeat;
    min-height: 770px;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.skills {
  background: url(../img/vem1ifgzbvf0maelvzvf.jpg) no-repeat;
  min-height: 770px;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.blog {
  background: url(../img/blog/Web-Portfolio-1.jpg) no-repeat;
  min-height: 770px;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.dark-overlay {
  background-color: rgba(0,0,0,.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.h2-courses {
  margin-right: 30px;
  margin-top: 240px;
  font-family: Helvetica,sans-serif;
  font-size: 70px;
  text-align: center;
  font-weight: 500;
  color: #eea810;
}
.h2-skills {
  margin-right: 30px;
  margin-top: 240px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  text-align: center;
  font-weight: 500;
  color: #eea810;
}
.skills p, .p-light {
  text-transform: uppercase;
  color: #fff;
}
.skills p {
  margin-top: 20px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

.h2-blog {
  margin-right: 30px;
  margin-top: 240px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  text-align: center;
  font-weight: 500;
  color: #eea810;
}
.blog p, .p-light {
  text-transform: uppercase;
  color: #fff;
}
.blog p {
  margin-top: 20px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}
.courses p, .p-light {
  text-transform: uppercase;
  color: #fff;
}
.courses p {
  margin-top: 20px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}
.courses-block {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 40px;
  background-color: #fff;
}
.parallax-courses-1 {
  background: url(../img/courses/frank-mckenna.jpg) no-repeat;
  min-height: 500px;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  opacity: .7;
}

.parallax-courses-2 {
  background: url(../img/courses/tetbirt.jpg) no-repeat;
  min-height: 500px;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  opacity: .7;
}
.parallax-blog-1 {
  background: url(../img/courses/tetbirt.jpg) no-repeat;
  min-height: 500px;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  opacity: .7;
}
.parallax-blog-1 {
  background: url(../img/blog/wp2742499.jpg) no-repeat;
  min-height: 500px;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  opacity: .7;
}  
.parallax-blog-2 {
  background: url(../img/blog/1_BPSx-c--z6r7tY29L19ukQ.jpg) no-repeat;
  min-height: 500px;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  opacity: .7;
}  
.parallax-blog-3 {
  background: url(../img/blog/199221.jpg) no-repeat;
  min-height: 500px;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  opacity: .7;
}  
.parallax-blog-4 {
  background: url(../img/blog//cloud-computing-1.jpg) no-repeat;
  min-height: 500px;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  opacity: .7;
}  
.parallax-blog-5 {
  background: url(../img/blog/api-video-thumb.jpg) no-repeat;
  min-height: 500px;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  opacity: .7;
}    
.parallax-blog-6 {
  background: url(../img/blog/vector_sigma.jpg) no-repeat;
  min-height: 500px;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  opacity: .7;
}    
.parallax-blog-7 {
  background: url(../img/blog/thumb-1920-430944.jpg) no-repeat;
  min-height: 500px;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  opacity: .7;
}    
.parallax-blog-8 {
  background: url(../img/blog/man-data-analytics-chalkboard-ss-1920.jpg) no-repeat;
  min-height: 500px;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  opacity: .7;
}    
.h2-parallax {
  padding-top: 200px;
  font-family: Helvetica,sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  color: #eea810;
}
.hero {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 0.3rem;
}
.back, .flip-container, .front {
  width: 320px;
  height: 480px;
}
.flip-container {
  margin: 20px auto;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.flipper {
  -webkit-transition: .02s ease-in;
  -o-transition: ease-in .02s;
  transition: .02s ease-in;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
.front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.back, .front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.h1 {
  background-color: lightgray;
  margin-top: 1.2%;
  border-radius: 1.2rem;
}
.text-secondary {
  color: #eece1a; 
}
#grond{
  background-color: #000;
}
main {
  padding: 4rem;
  min-height: calc(100vh - 60px); 
}
main .icons {
    margin-top: 1rem; 
}
main .icons a {
  padding: 0.4rem; 
}
main .icons a:hover {
  color: #eece1a;
  transition: all 0.5s ease-out; 
}
main#home {
  overflow: hidden; 
}
main#home h1 {
  margin-top: 20vh; 
}
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr); 
}
.about-info .bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: #eece1a 3px solid; 
}
.about-info .bio-logo {
  grid-area: biologo;
  margin: auto;
  width: 10%;
  border-radius: 50%;
  border: #eece1a 3px solid; 
}
.about-info .bio {
  grid-area: bio;
  font-size: 1.5rem; 
}
.about-info .job-1 {
  grid-area: job1; 
}
.about-info .job-2 {
  grid-area: job2; 
}
.about-info .job-3 {
  grid-area: job3; 
}
.about-info .job {
  background: #515151;
  padding: 0.5rem;
  border-bottom: #eece1a 5px solid; 
}
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); 
}
.projects img {
  width: 100%;
  border: 3px #fff solid; 
}
.projects img:hover {
  opacity: 0.5;
  border-color: #eece1a;
  transition: all 0.5s ease-out; 
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; 
}
.boxes div {
  font-size: 2rem;
  border: 3px #fff solid;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
  transition: all 0.5s ease-out; 
}
.boxes div:hover {
  padding: 0.5rem 1.5rem;
  background: #eece1a;
  color: #000; 
}
.boxes div:hover span {
  color: #000; 
}
@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); 
  } 
}      
@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); 
  } 
}
        
@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; 
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem; 
  }
  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; 
  }
  ul.menu-nav.show, div.menu-branding.show {
    transform: translate3d(0, 0, 0); 
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; 
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); 
  }
  .menu-branding .mabdeen {
    background: url("../img/mabdeen_small.png");
    width: 150px;
    height: 150px; 
  }
  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr; 
  }
  .projects {
    grid-template-columns: repeat(2, 1fr); 
  } 
}        
@media screen and (max-width: 500px) {
  main {
    padding: 2rem; 
  }
  main #home h1 {
    margin-top: 10vh; 
  }
  main .lg-heading {
    margin-top: 1rem;
    font-size: 5rem; 
  }
  .projects {
    grid-template-columns: 1fr; 
  } 
}   
.pros{
  padding-top: 100px;
}
.pross{
  padding-top: 60px;
}
.display-5{
  font-size: 30px;
}